html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    --rosaEscuro: mediumvioletred;
    --rosaClaro: #f2d0e0;
    --sombra: darkgray;
}
.container-header{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 3rem;
    background-color: var(--rosaEscuro);
    font-size: 1.5rem;
    max-width: auto;
}
.container-header > p{
    padding-right: 70rem;
    
    
}
.container-header > img{
    width: 1.5%;
    padding: 0 1rem;
}

/* MAIN */
.container-main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}
.container-nav{
    background-color: var(--rosaClaro);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1rem;

}
.sidebar{
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
    align-items: center;
}
.container-nav>section>img{
    width: 22px;
    padding-left: 0.5rem;
}

.container-nav>section>a{
    margin-right: 3.5rem;
    color:black
}
.container-div{
    display: flex;
    flex-wrap: wrap;

}
.container-div>section>img{
    width: 240px;
}
.container-section{
    box-shadow: 0 5px 5px 0 var(--sombra);
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.container-section>p{
    font-size: 0.9rem;
}
.container-section>h2{
    padding-bottom: 12px;
}
/* FOOTER */
footer{
background-color: var(--rosaEscuro);
height: 2rem;
display: flex;
align-items: center;
justify-content: center;

}